body{
    box-sizing: border-box;
    margin: 0%;
<<<<<<< HEAD
    
=======
>>>>>>> cef3d4027f00b038ffe528862ea4b3426fa84fb4
    
}

section{
  height: 750px;
  width: 1800px;
  margin: 10px;

  background-image:url("../images/img2.jpg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: 1px solid red;
  position:relative;
}

#target{
  height: 10%;
  
  border: 1px solid black;
  width: 5%;
  background-position: center;
  background-image: url(../images/duck-silhouette-clip_1305533.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: 0px;
  position: absolute;
  top:50%;
  left:50%;
  
}

