body{
    box-sizing: border-box;
    height: 1000px;
    margin: auto;
}

section{
  height: 90%;
  width: 90%;
  margin-right: 15px;
  margin-left: 15px;

  background-image:url("../images/duck-hunt-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border: 1px solid red;
  position:relative;
}

#target{
  height: 10%;
  width: 10%;
  background-image: url(../images/duck-silhouette-clip_1305533.png);
  background-size: cover;
  border: 0px;
  position: absolute;
  top:40%;
  left:40%;
  
}

