body{
    box-sizing: border-box;
    margin: 0%;
    min-width: 50%;
    
}

section{
  height: 800px;
  width: 1900px;
  margin: 10px;


  background-image:url("../images/img2.jpg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: 1px solid red;
  position:relative;
}

#target{
  height: 10%;
  width: 10%;
  background-image: url(../images/duck-silhouette-clip_1305533.png);
  background-size: cover;
  border: 0px;
  position: absolute;
  top:40%;
  left:40%;
  
}

